{%extends "base.html"%}
<!-- ------------------------------- -->
<!--  -->
{%block title%}Detail View{%endblock%}
<!--  -->
{% block body %}
<!-- ------------------------ -->
<div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <a href="{% url 'feed:index' %}" class="btn btn-primary"
        >&larr; Go back</a
      >
      <h1>Detail Image here</h1>
      <h3>Text:</h3>
      <p>{{object.text}}</p>
      <h3>Image</h3>
      <img
        src="{{object.image.url}}"
        alt=""
        style="width: 100%; height: auto"
        class="img-fluid rounded"
      />
    </div>
  </div>
</div>
<!-- -------------------- -->
{% endblock %}
